<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Colab工作站</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<style>
    @media (prefers-color-scheme: dark) {
        body, div, table, th, td {
            color: #eee;
            background: #121212;
        }
    }

    @media (prefers-color-scheme: light) {
        body, div, table, th, td {
            color: #121212;
            background: #eee;
        }
    }
</style>

<body>
    <div id="app" class="container rounded shadow-sm main">
        <div class="card">
            <div class="card-body text-center d-flex flex-column align-items-center">
                <h5>注册</h5>
            </div>
            <form>
                <div class="Login">
                    <input class="form-control" v-model="username" type="text" name="username"
                        placeholder="您的账号">
                </div>
                <div class="Login">
                    <input class="form-control" v-model="password" type="password" name="password"
                        placeholder="您的密码">
                </div>
                <div class="Login">
                </div>
                <button class="btn btn-primary d-block w-100" type="button"
                    v-if="scoreString != '注册中...'" @click="valid">注册</button>
            </form>
    </div>
</body>

<footer>
        <hr>
        <div class="d-flex justify-content-between pt-3" style="background: var(--bs-gray-100);">
            <p class="text-muted mb-0">Copyright © 2023 NeyokiCat</p>
        </div>
    </div>
</footer>